/* --------------------------------------- */
p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Pretendard";
  margin-top: 121px;
}
.maintitle {
  color: white;
  letter-spacing: 7px;
  font-size: 35px;
  font-family: "futura";
  text-align: center;
}
.maindesc1 {
  color: #9a9a9a;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  margin: 24px 20px 0 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.maindesc2 {
  display: none;
}
/* schedule */
.schedule {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 90%; /* 화면 너비의 90% 사용 */
  margin-top: 96px;
}
.schedule_title {
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
}
/* date */
.date {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 34px;
  margin-top: 27px;
  margin-bottom: 30px;
}
.datetext {
  color: white;
  gap: 20px;
}

/* 기본 스타일 */
.box {
  width: 100%; /* 화면 너비의 90% 사용 */
  max-width: 1000px; /* 최대 크기 제한 */
  box-sizing: border-box; /* 패딩 포함한 전체 크기 유지 */
  /* background-color: white; */
  border-radius: 10px; /* 둥근 모서리 */
  display: flex; /* 내부 정렬을 위한 flex 적용 */
  flex-direction: column; /* 요소를 세로로 정렬 */
  align-content: center;
  align-items: center; /* 가운데 정렬 */
  margin-bottom: 151px;
}
.qkdqjq_box {
  margin-top: 127px;
  display: flex;
  width: 90%;
  text-align: center;
}
.qkdqjq {
  width: 100%;
  color: white;
  font-family: "Pretendard";
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.boxcontainer {
  display: flex;
  flex-wrap: wrap; /* 화면 크기가 줄어들면 아이템들이 줄 바꿈 되도록 */
  justify-content: center;
  gap: 10px; /* 박스 간의 간격 */
  width: 100%;
}

.gadna {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* 각 박스가 가로폭에 맞춰 자동으로 늘어날 수 있게 */
  height: 606px;
  margin-top: 41px;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* 전체 넓이를 100%로 설정 */
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: 1px solid #333;
  height: 144px;
  justify-content: center;
}
.icon_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 51px;
  gap: 31px;
  height: 100%;
}
.icon {
  width: 45px;
  height: 52px;
}

.titledesc {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-size: 20px;
  font-family: "outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
}

.desc1 {
  font-size: 16px;
  color: #ffffff50;
  letter-spacing: 0;
}

.desc2 {
  font-size: 11px;
  color: #6a7cff;
  letter-spacing: 0;
}

.leftright {
  margin-top: 83px;
  display: flex; /* 이미지를 가로로 배치 */
  justify-content: center; /* 이미지들 중앙 정렬 */
  width: 90%; /* 부모 요소의 너비 90%로 설정 */
  max-width: 792px;
  gap: 5px;
}
.imgs {
  width: 50%;
}
/* --------------------------------- 참가자격*/
.dlrjs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
.module-border-wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: hsla(57, 100%, 84%, 1);

  background: linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
  
  background: -moz-linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
  
  background: -webkit-linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFBAF", endColorstr="#4AED52", GradientType=1 );  padding: 3px;
  width: 100%;
  border-radius: 10px;
}
.module {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 186px;
  border-radius: 10px;
  width: 100%;
  background-color: #0e0d0d;
  letter-spacing: 1px;
}
.ckarkwkrur_title{
  display: block;
  font-family: 'Pretendard';
  font-size: 26px;
  font-weight: 600;
}
.module_text1 {
  font-size: 16px;
  color: #ffffff70;
  font-weight: 600;
  margin-top: 10px;
}
.module_text2 {
  display: none;
}

/* Media Queries: 모바일 화면에서 반응형으로 수정 */
@media (max-width: 600px) {
  .content {
    margin-top: 50px;
  }
  .content .maindesc1 {
    display: none;
  }
  .content .maindesc2 {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #9a9a9a;
    font-family: "futura";
    font-size: 13px;
    font-weight: 500;
    margin-top: 6px;
    line-height: 22px;
  }
  .schedule {
    margin-top: 67px;
  }
  .schedule_title {
    font-family: "Pretendard";
    font-weight: 600;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
    font-size: 18px;
  }
  .datetext {
    font-size: 14px;
  }
  .leftright {
    display: flex; /* 이미지를 가로로 배치 */
    justify-content: center; /* 이미지들 중앙 정렬 */
    width: 90%; /* 부모 요소의 너비 90%로 설정 */
    max-width: 386px;
    position: relative;
    object-fit: contain;
    height: 248px;
  }

  .imgs {
    width: 50%; /* 부모 요소 크기에 맞게 이미지 크기 조정 */
    height: auto; /* 이미지의 비율을 유지하면서 자동 높이 조정 */
    /* object-fit: contain;     이미지가 부모 요소에 잘 맞도록 비율을 유지하며 축소 */
  }

  .date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .qkdqjq {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap; /* 텍스트가 자동으로 줄 바꿈됨 */
    gap: 10px; /* span 간격 조절 */
  }
  .boxcontainer {
    flex-direction: column; /* 작은 화면에서는 세로로 쌓이게 */
    align-items: center;
    height: 947px;
  }
  .gadna {
    display: flex;
    gap: 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; /* 각 박스가 가로폭에 맞춰 자동으로 늘어날 수 있게 */
    height: 100%;
  }
  .pioneer-text {
    display: block; /* 화면이 좁으면 아래로 내려가도록 설정 */
  }
  .boxes {
    width: 390;
    height: 230px;
  }
  .icon_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 0;
    width: 100%;
    height: 80%;
    padding-left: 25px;
    box-sizing: border-box;
  }

  .icon {
    width: 45px;
    height: 52px; /* 아이콘 크기를 화면 크기에 맞게 축소 */
    margin-top: 20px;
  }
  .titledesc {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    font-size: 20px; /* 작은 화면에서는 글씨 크기를 줄임 */
    font-weight: 700;
  }
  .desc1 {
    font-size: 16px; /* 설명 텍스트 크기를 줄임 */
    margin-top: 10px;
  }
  .desc2 {
    font-size: 11px;
  }
  .dlrjs {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 60px;
  }
  .module-border-wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: hsla(57, 100%, 84%, 1);

    background: linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
    
    background: -moz-linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
    
    background: -webkit-linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFBAF", endColorstr="#4AED52", GradientType=1 );    padding: 3px;
    width: 100%;
    border-radius: 10px;
  }
  .module {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 148px;
    border-radius: 10px;
    width: 100%;
    background-color: #0e0d0d;
  }
  .ckarkwkrur_title{
    display: none;
  }
  .module_text1 {
    display: none;
  }
  .module_text2 {
    width: 80%;
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #ffffff70;
    font-weight: 500;
    font-family: 'futura'; /*390 148*/
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .content .maindesc1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .leftright {
    display: flex; /* 이미지를 가로로 배치 */
    justify-content: space-between; /* 이미지들 중앙 정렬 */
    width: 90%; /* 부모 요소의 너비 90%로 설정 */
    max-width: 792px;
    position: relative;
    object-fit: contain;
  }

  .imgs {
    width: 50%;
  }
  .date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .gadna {
    display: flex;
    gap: 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; /* 각 박스가 가로폭에 맞춰 자동으로 늘어날 수 있게 */
    height: 100%;
  }
  .dlrjs {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 60px;
  }
  .module-border-wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: hsla(57, 100%, 84%, 1);

    background: linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
    
    background: -moz-linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
    
    background: -webkit-linear-gradient(290deg, hsla(57, 100%, 84%, 1) 0%, hsla(123, 82%, 61%, 1) 0%, hsla(233, 100%, 5%, 1) 30%, hsla(233, 100%, 5%, 1) 70%, hsla(306, 75%, 51%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFBAF", endColorstr="#4AED52", GradientType=1 );    padding: 3px;
    width: 100%;
    border-radius: 10px;
  }
  .module {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 186px;
    border-radius: 10px;
    width: 100%;
    background-color: #0e0d0d;
  }
  .ckarkwkrur_title{
    display: block;
    font-family: 'Pretendard';
    font-size: 26px;
    font-weight: 600;
  }
  .module_text1 {
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #ffffff70;
    font-weight: 600;
    margin-top: 10px;
  }
  .module_text2 {
    display: none;
  }
}
