/* --------------------------------------- */
p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Pretendard";
  margin-top: 121px;
}
.content .maintitle {
  color: white;
  letter-spacing: 7px;
  font-size: 35px;
  font-family: "futura";
  text-align: center;
  line-height: 26px;
}
.content .qkdqjq_second {
  display: block;
}
.content .mo_pioneer_text {
  display: none;
}
.content .maindesc1 {
  color: #9a9a9a;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  margin: 24px 20px 0 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 28px; /* 175% */
}
.content .maindesc2 {
  display: none;
}
/* schedule */
.content .schedule {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 90%; /* 화면 너비의 90% 사용 */
  margin-top: 96px;
}
.content .schedule_title1 {
  display: block;
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 800;
  letter-spacing: 1.38px;
  color: white;
  text-align: center;
  line-height: 30px; /* 130.435% */
}
.content .schedule_title2 {
  display: none;
}
/* date */
.content .date {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 44px;
  margin-top: 26px;
  margin-bottom: 30px;
}
.content .datetext {
  color: white;
  gap: 20px;
  line-height: 25px;
}
.content .gradientbutton {
  width: 293px;
  height: 58px;
  color: #22ee9f;
  background: transparent; /* 내부 투명 */
  font-size: 20px;
  font-weight: 800;
  font-family: "Pretendard", sans-serif !important;
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
  box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  line-height: 26px; /* 130% */
  letter-spacing: 1.2px;
}

/* 가짜 그라데이션 테두리 */
.content .gradientbutton::before {
  content: "";
  position: absolute;
  inset: 0; /* 상하좌우 0으로 설정해서 버튼 크기와 동일하게 */
  padding: 1px; /* 테두리 두께 */
  border-radius: 5px; /* 버튼과 동일한 radius */
  background: linear-gradient(160deg, #22eebd, #22c9ee); /* 그라데이션*/
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* 특정 영역만 보여주는 기능*/
  -webkit-mask-composite: xor; /*패딩 영역을 제외한 컨텐츠 부분만 표시*/
  mask-composite: exclude; /*내부 컨텐츠 부분을 투명하게 만듦*/
  z-index: -1; /*비포는 position:abolute 이기 때문에 기본적으로 버튼의 위층에 생성되어서 더 아래쪽 (뒤쪽) 으로 보내는 것임*/
}

/* 기본 스타일 */
.content .box {
  width: 100%; /*화면 너비의 90% 사용 */
  max-width: 998px; /* 최대 크기 제한
  box-sizing: border-box; /* 패딩 포함한 전체 크기 유지 */
  border-radius: 10px; /* 둥근 모서리 */
  display: flex; /* 내부 정렬을 위한 flex 적용 */
  flex-direction: column; /* 요소를 세로로 정렬 */
  align-content: center;
  align-items: center; /* 가운데 정렬 */
  margin-bottom: 135px;
}
.content .qkdqjq_box {
  margin-top: 127px;
  margin-bottom: 41px;
  display: flex;
  width: 90%;
  text-align: center;
  justify-content: center;
}
.content .qkdqjq {
  width: 100%;
  color: white;
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  line-height: 30px; /* 130.435% */
  letter-spacing: 1.38px;
}
.change2line{
  display: none;
}
.content .leftright {
  margin-top: 83px;
  display: flex; /* 이미지를 가로로 배치 */
  justify-content: center; /* 이미지들 중앙 정렬 */
  width: 90%; /* 부모 요소의 너비 90%로 설정 */
  max-width: 792px;
}
.content .imgs {
  width: 50%;
}
.content .imgs_mo {
  width: 50%;
  display: none;
}
/* --------------------------------- 참가자격*/
.content .dlrjs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
.content .module_border_wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: hsla(57, 100%, 84%, 1);
  background: linear-gradient(
    290deg,
    hsla(57, 100%, 84%, 1) 0%,
    hsla(123, 82%, 61%, 1) 0%,
    hsla(233, 100%, 5%, 1) 30%,
    hsla(233, 100%, 5%, 1) 70%,
    hsla(306, 75%, 51%, 1) 100%
  );

  background: -moz-linear-gradient(
    290deg,
    hsla(57, 100%, 84%, 1) 0%,
    hsla(123, 82%, 61%, 1) 0%,
    hsla(233, 100%, 5%, 1) 30%,
    hsla(233, 100%, 5%, 1) 70%,
    hsla(306, 75%, 51%, 1) 100%
  );

  background: -webkit-linear-gradient(
    290deg,
    hsla(57, 100%, 84%, 1) 0%,
    hsla(123, 82%, 61%, 1) 0%,
    hsla(233, 100%, 5%, 1) 30%,
    hsla(233, 100%, 5%, 1) 70%,
    hsla(306, 75%, 51%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFBAF", endColorstr="#4AED52", GradientType=1 );
  padding: 3px;
  width: 100%;
  border-radius: 10px;
}
.content .module {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 186px;
  border-radius: 10px;
  width: 100%;
  background-color: #0e0d0d;
  letter-spacing: 1px;
}
.content .ckarkwkrur_title {
  display: block;
  font-family: "Pretendard";
  font-size: 25px;
  font-weight: 700;
  line-height: 26px; /* 104% */
  letter-spacing: 1.5px;
  margin-top: 60px;
}
.content .module_text1 {
  font-size: 16px;
  color: #ffffff50;
  font-weight: 700;
  line-height: 28px;
  margin-top: 21.6px; 
}
.content .module_text2 {
  display: none;
}

/* Media Queries: 모바일 화면에서 반응형으로 수정 */
@media (max-width: 600px) {
  .content {
    margin-top: 49px;
  }
  .content .maintitle {
    color: white;
    font-family: 'futura';
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    line-height: 34.5px;
    letter-spacing: 4.75px;
  }
  .content .maindesc1 {
    display: none;
  }
  .change2line{
    display: block;
  }
  .content .maindesc2 {
    width: 100%;
    display: block;
    text-align: center;
    color: #ffffff60;
    font-family: "futura";
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
  }
  .content .leftright {
    display: flex; /* 이미지를 가로로 배치 */
    justify-content: center; /* 이미지들 중앙 정렬 */
    width: 90%; /* 부모 요소의 너비 90%로 설정 */
    max-width: 386px;
    position: relative;
    object-fit: contain;
    height: 248px;
    gap: 4px;
    margin-top: 45px;
  }
  .content .imgs {
    display: none;
  }
  .content .imgs_mo {
    width: 50%; /* 부모 요소 크기에 맞게 이미지 크기 조정 */
    display: block;
  }
  .content .schedule {
    margin-top: 67px;
  }
  .content .schedule_title1 {
    display: none;
  }
  .content .schedule_title2 {
    display: block;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }
  .content .date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .content .datetext {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
  }
  .gradientbutton{
    margin-top: 30px;
    color: #22EE9F;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 1.2px;
  }
  .content .qkdqjq_box {
    margin-top: 128px;
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    margin-bottom: 37px;
  }
  .content .qkdqjq {
    /* width: 90%; */
    color: white;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap; /* 텍스트가 자동으로 줄 바꿈됨 */
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 30px;
  }
  .content .pioneer_text {
    display: none; /* 화면이 좁으면 아래로 내려가도록 설정 */
  }
  .content .qkdqjq_second {
    display: block;
  }
  .content .mo_pioneer_text {
    display: block;
  }
  .content .dlrjs {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 64px;
  }
  .content .module_border_wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: hsla(57, 100%, 84%, 1);
    background: linear-gradient(
      290deg,
      hsla(57, 100%, 84%, 1) 0%,
      hsla(123, 82%, 61%, 1) 0%,
      hsla(233, 100%, 5%, 1) 30%,
      hsla(233, 100%, 5%, 1) 70%,
      hsla(306, 75%, 51%, 1) 100%
    );

    background: -moz-linear-gradient(
      290deg,
      hsla(57, 100%, 84%, 1) 0%,
      hsla(123, 82%, 61%, 1) 0%,
      hsla(233, 100%, 5%, 1) 30%,
      hsla(233, 100%, 5%, 1) 70%,
      hsla(306, 75%, 51%, 1) 100%
    );

    background: -webkit-linear-gradient(
      290deg,
      hsla(57, 100%, 84%, 1) 0%,
      hsla(123, 82%, 61%, 1) 0%,
      hsla(233, 100%, 5%, 1) 30%,
      hsla(233, 100%, 5%, 1) 70%,
      hsla(306, 75%, 51%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFBAF", endColorstr="#4AED52", GradientType=1 );
    padding: 3px;
    width: 100%;
    border-radius: 10px;
  }
  .content .module {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    color: white;
    height: 148px;
    border-radius: 10px;
    width: 100%;
    background-color: #0e0d0d;
  }
  .content .ckarkwkrur_title {
    display: none;
  }
  .content .module_text1 {
    display: none;
  }
  .content .module_text2 {
    margin-top: 31px;
    width: 90%;
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #ffffff70;
    font-weight: 500;
    font-family: "futura"; /*390 148*/
    letter-spacing: 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .content .maintitle {
    color: white;
    letter-spacing: 4.75px;
    font-size: 25px;
    font-family: "futura";
    text-align: center;
  }
  .content .maindesc1 {
    display: none;
  }
  .content .maindesc2 {
    width: 100%;
    display: block;
    text-align: center;
    color: #9a9a9a;
    font-family: "futura";
    margin-top: 6px;
    font-size: 13px; /* Figma와 동일하게 변경 */
    font-weight: 500; /* 또는 600 (Medium 확인 필요) */
    line-height: 22px;
    letter-spacing: 0.02px; /* 미세한 차이 조절 */
  }
  .content .leftright {
    display: flex; /* 이미지를 가로로 배치 */
    justify-content: space-between; /* 이미지들 중앙 정렬 */
    width: 90%; /* 부모 요소의 너비 90%로 설정 */
    max-width: 792px;
    position: relative;
    object-fit: contain;
  }

  .content .imgs {
    width: 50%;
  }
  .content .imgs_mo {
    width: 50%;
    display: none;
  }
  .content .date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .content .dlrjs {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 60px;
  }
  .content .module_border_wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: hsla(57, 100%, 84%, 1);

    background: linear-gradient(
      290deg,
      hsla(57, 100%, 84%, 1) 0%,
      hsla(123, 82%, 61%, 1) 0%,
      hsla(233, 100%, 5%, 1) 30%,
      hsla(233, 100%, 5%, 1) 70%,
      hsla(306, 75%, 51%, 1) 100%
    );

    background: -moz-linear-gradient(
      290deg,
      hsla(57, 100%, 84%, 1) 0%,
      hsla(123, 82%, 61%, 1) 0%,
      hsla(233, 100%, 5%, 1) 30%,
      hsla(233, 100%, 5%, 1) 70%,
      hsla(306, 75%, 51%, 1) 100%
    );

    background: -webkit-linear-gradient(
      290deg,
      hsla(57, 100%, 84%, 1) 0%,
      hsla(123, 82%, 61%, 1) 0%,
      hsla(233, 100%, 5%, 1) 30%,
      hsla(233, 100%, 5%, 1) 70%,
      hsla(306, 75%, 51%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFBAF", endColorstr="#4AED52", GradientType=1 );
    padding: 3px;
    width: 100%;
    border-radius: 10px;
  }
  .content .module {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 186px;
    border-radius: 10px;
    width: 100%;
    background-color: #0e0d0d;
  }
  .content .ckarkwkrur_title {
    display: block;
    font-family: "Pretendard";
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  .content .module_text1 {
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #ffffff50;
    font-weight: 600;
    margin-top: 10px;
    font-weight: 700;
    line-height: 28px; /* 175% */
  }
  .content .module_text2 {
    display: none;
  }
}
