/* 헤더 수정 */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 32px;
  padding-top: 24px;
}
.header .header_button {
  display: none;
}
.header .hamburger_button {
  display: none;
}
.header .wallet_button {
  display: none;
}
.header .logo {
  display: flex;
  width: 378px;
  height: 26px;
  margin-top: 4px;
}
.header .mobile_logo {
  display: none;
}
.header .headerright {
  display: flex;
  /* gap: 27px; */
  font-size: 16px;
  align-items: center;
  color: white;
}
.header .language {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Pretendard"; /* 로드한 폰트를 사용 */
  margin-left: 26px;
}
.header .headericon {
  width: 18px;
  height: 18px;
}
.header .MuiTypography-root {
  font-family: "Pretendard" !important; /* 임포탄트는 보다 권한 높은거임 mui 에서 저 root 앞에 있는게 고정적인 클래스라서 저걸로 불러온 것.*/
}
.header .Myinventory {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 6px; */
}

/* 모바일 (600px 이하) */
@media (max-width: 600px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    box-sizing: border-box;
    height: 50px;
    padding: 0 32px;
    gap: 36px;
  }
  .header .logo {
    display: none;
  }
  .header .mobile_logo {
    display: block;
    width: 256px;
    height: 14px;
  }
  .header .headerright {
    display: none; /* 모바일에서는 기본적으로 숨김 */
  }
  .header .header_button {
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: flex-end;
  }
  /* 햄버거 메뉴 버튼 보이기 */
  .header .hamburger_button {
    display: block; /* 작은 화면에서만 보이도록 */
  }
  /* 햄버거 메뉴 버튼 보이기 */
  .header .wallet_button {
    display: block; /* 작은 화면에서만 보이도록 */
  }

  /* 메뉴 항목을 햄버거 메뉴에서 보이게 하기 */
  .header .MuiMenu-paper {
    background-color: #0e0d0d; /* 메뉴 배경색 */
    border-radius: 10px;
    color: white;
  }
}
/* 태블릿 (601px ~ 1024px) */
@media (min-width: 601px) and (max-width: 1111px) {
  .header .headerright {
    display: none; /* 태블릿에서도 기본적으로 숨김 */
  }
  .header .header_button {
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: flex-end;
  }
  /* 햄버거 메뉴 버튼 보이기 */
  .header .hamburger-button {
    display: block; /* 작은 화면에서만 보이도록 */
  }
  /* 햄버거 메뉴 버튼 보이기 */
  .header .wallet_button {
    display: block; /* 작은 화면에서만 보이도록 */
  }

  /* 메뉴 항목을 햄버거 메뉴에서 보이게 하기 */
  .header .MuiMenu-paper {
    background-color: #0e0d0d;
    border-radius: 10px;
    color: white;
  }
}
